# Operator

In [2]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [29]:
a = 1
a += 1
a

2

In [30]:
a *= a
a

4

In [31]:
a /= 2
a

2.0

In [32]:
2**3

8

In [33]:
7//3

2

In [34]:
2%3

2

In [35]:
'A'+'B'

'AB'

In [36]:
'A' * 3

'AAA'

In [37]:
'A' * 0

''

In [38]:
'A' * -3

''

In [55]:
age=1

assert 0< age <10

In [10]:
'alpha'< 'beta'

True

In [25]:
l1 = ['a','b','c']

l2 = ['A','B','C']

l1 == l2

False

In [28]:
eggs = {'name': 'Zophie', 'species': 'cat', 'age': '8'}
    
ham = {'species': 'cat', 'age': '8', 'name': 'Zophie'}

eggs == ham

True

In [11]:
[1,2]<[2,1]

True

In [39]:
1 == 1

True

In [40]:
1 != 2

True

In [41]:
1 == 1 and 1 == 2

False

In [42]:
1 ==1 or 1 == 2

True

In [43]:
not True

False

In [44]:
not False

True

In [4]:
False == 0

True

In [5]:
True == 1

True

In [6]:
True == 2

False

In [7]:
False < True

True

In [1]:
x = 15 > 5
x

True

In [45]:
'a' in 'banana'

True

In [2]:
1 + True

2

In [3]:
1 + False

1

In [46]:
'seed' not in 'banana'

True

In [1]:
spam = print('Hello')
spam == None

Hello

True

%d %i  signed decimal 

%o     unsigned octal 

%u     unsigned decimal 

%x     unsigned hex lowercase 

%X     unsigned hex uppercase 


%e  

%E    

%f  %F    float

%C        character

%r        string with repr

%s        string with str

%0+-      *length.accuracy   * will be read from tuple fill with 0 or empty, - for left align, + for sign mark output

In [82]:
"format is %s, %.3f" %('hello',1.33333)

'format is hello, 1.333'

In [92]:
width = int(input('Please enter width: '))

price_width = 10
item_width = int(width) - price_width

header_format = '%-*s%*s'
format = '%-*s%*.2f'


print('=' * width)

print( header_format  % (item_width, 'Item', price_width, 'Price') )

print( '-' * width) 

print( format  % (item_width, 'Apples', price_width, 0.4) )
print( format  % (item_width, 'Pears', price_width, 0.5))
print( format  % (item_width, 'Cantaloupes', price_width, 1.92))
print( format  % (item_width, 'Dried Apricots (16 oz.)', price_width, 8))
print( format  % (item_width, 'Prunes (4 lbs.)', price_width, 12))

print('=' * width)

Please enter width: 50
==================================================
Item                                         Price
--------------------------------------------------
Apples                                        0.40
Pears                                         0.50
Cantaloupes                                   1.92
Dried Apricots (16 oz.)                       8.00
Prunes (4 lbs.)                              12.00
==================================================

In [21]:
def fun():
    global eggs
    eggs = 'fun'
    
eggs = 'global'

fun

print(eggs)

global

# Inline function

In [6]:
bool(1)

True

In [7]:
bool(0)

False

In [13]:
type(('hello'))

str

In [14]:
type(('hello',))

tuple

In [180]:
type(32)

int

In [181]:
type('32')

str

In [182]:
int('32')

32

In [183]:
int(3.999)

3

In [184]:
float(32)

32.0

In [185]:
float('3.14')

3.14

In [186]:
str(32)

'32'

In [187]:
str(3.14)

'3.14'

In [1]:
repr(3.14) #repr(obj)

'3.14'

In [17]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [16]:
list(('A', 'B', 'C'))

['A', 'B', 'C']

In [18]:
tuple(['A', 'B', 'C'])

('A', 'B', 'C')

In [208]:
abs(-9)

9

In [209]:
round(3.4)

3

In [210]:
round(3.5)

4

In [211]:
pow(2,3)

8

In [74]:
divmod(7,3)

(2, 1)

In [12]:
a = 1.5 + 0.5j
print(a.real)
print(a.imag)

type(1. + 0j)

1.5
0.5

complex

In [52]:
num = [3, 4, 2, 1]
sorted(num)

[1, 2, 3, 4]

In [53]:
num

[3, 4, 2, 1]

In [54]:
list(reversed(num))

[1, 2, 4, 3]

In [55]:
num

[3, 4, 2, 1]

In [59]:
num.sort()

In [60]:
num

[1, 2, 3, 4]

In [216]:
min([1,2,4])

1

In [217]:
max([1,3,4])

4

In [218]:
sum([1,2,3])

6

In [219]:
[1,2,3].index(1)

0

In [220]:
len([1,2,3])

3

In [26]:
dict(enumerate('abc'))

{0: 'a', 1: 'b', 2: 'c'}

In [27]:
n=[0,1,2]
s='abc'


for number, letter in zip(n,s):
    print(number, letter)

0 a
1 b
2 c

In [11]:
tuple(zip(n,s))

((0, 'a'), (1, 'b'), (2, 'c'))

In [12]:
list(zip(n,s))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [13]:
dict(zip(n,s))

{0: 'a', 1: 'b', 2: 'c'}

In [32]:
dict(zip('abc', range(3)))

{'a': 0, 'b': 1, 'c': 2}

In [28]:
for item in enumerate('abc'):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')

In [29]:
list(enumerate('abc'))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [30]:
tuple(enumerate('abc'))

((0, 'a'), (1, 'b'), (2, 'c'))

In [31]:
dict(enumerate('abc'))

{0: 'a', 1: 'b', 2: 'c'}

In [29]:
hash((1,2,3))  #list unhashable

2528502973977326415

In [32]:
hash(123)

123

In [31]:
hash('1,2,3')

-7811515738675630683

In [18]:
list(range(0))

[]

In [13]:
list(range(3))

[0, 1, 2]

In [14]:
 list(range(1, 3))

[1, 2]

In [16]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [17]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [50]:
for i in range(3):
    print(i)

0
1
2

In [56]:
for i in 1,2,3:
    print(i)

1
2
3

In [68]:
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
[x*x for x in range(10) if x%3==0]

[0, 9, 36, 81]

In [70]:
[(x,y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [59]:
ord('c')  #Unicode

99

In [62]:
scope={}

scope['x']=2
scope['y']=3

eval('x*y', scope)

6

In [67]:
scope={}

exec('x=2',scope)

eval('x*x',scope)

4

In [2]:
'The output of {} and {} and {}.'.format(1, 2, 3)

'The output of 1 and 2 and 3.'

# String

immutable

In [4]:
'Albert' + ' Einstein'

'Albert Einstein'

In [5]:
'12' + str(34) + '56'

'123456'

In [2]:
fruit = 'banana'

In [3]:
len(fruit)

6

In [4]:
fruit[0]

'b'

In [5]:
fruit[0:5]

'banan'

In [6]:
fruit[:3]

'ban'

In [7]:
fruit[3:]

'ana'

In [8]:
fruit[:]

'banana'

In [9]:
fruit[-1]

'a'

In [10]:
fruit[len(fruit)-1]

'a'

In [11]:
fruit.startswith('ba')

True

In [12]:
fruit.endswith('na')

True

In [3]:
'hello'.isalpha() #only letters

True

In [4]:
'123'.isalnum() #only letters and numbers

True

In [5]:
'123'.isdecimal()  #only numbers

True

In [6]:
' '.isspace()

True

In [7]:
'this is title case'.istitle()

False

In [8]:
'This'.istitle()

True

In [15]:
fruit.lower()

'banana'

In [14]:
fruit.islower()

True

In [15]:
fruit.upper()

'BANANA'

In [16]:
fruit.isupper()

False

In [19]:
fruit.title()

'Banana'

In [17]:
fruit.capitalize()

'Banana'

In [18]:
fruit.capitalize().swapcase()

'bANANA'

In [57]:
fruit.find('a')

1

In [13]:
fruit.find('a',1)

1

In [58]:
fruit.find('b',1,2)

-1

In [23]:
fruit.replace('a','o')

'bonono'

In [9]:
'Hello'.ljust(10)

'Hello     '

In [12]:
'Hello'.ljust(10, '-')

'Hello-----'

In [14]:
'Hello'.rjust(10)

'     Hello'

In [13]:
'Hello'.rjust(10, '*')

'*****Hello'

In [15]:
'Hello'.center(10)

'  Hello   '

In [16]:
'Hello'.center(10, '=')

'==Hello==='

In [27]:
'1+1'.split('+')

['1', '1']

In [24]:
' hello '.strip()

'hello'

In [18]:
'/thello/t'.strip('/t')

'hello'

In [25]:
' hello '.lstrip()

'hello '

In [26]:
' hello '.rstrip()

' hello'

In [260]:
'/'.join(['/usr','local','bin'])

'/usr/local/bin'

In [19]:
table = str.maketrans('cs','kz')

'cs'.translate(table)

'kz'

In [59]:
print('one\ttwo')

one	two

In [60]:
print('one\ntwo')

one
two

In [61]:
print('one\\two')

one\two

In [62]:
print('one\'two')

one'two

In [63]:
print('one\"two')

one"two

In [64]:
print('''one

two''')

one

two

In [47]:
print("Hello there!\nHow are you?\nI\'m doing fine.")

Hello there!
How are you?
I'm doing fine.

In [46]:
#A raw string completely ignores all escape characters 
    
print(r'That is Carol\'s cat.')

That is Carol\'s cat.

In [65]:
name = input("Please enter a name: ")

Please enter a name:

In [49]:
name = ''

while not name:
    name = input('Please enter your name: ')

Please enter your name: Alice

In [51]:
name =''

while True:
    name = input('Please enter your name: ')
    if not name:
        break
    print(name)

Please enter your name: Alice
Alice
Please enter your name:

In [66]:
index = 0
while index < len(fruit):
    print(fruit[index])
    index = index + 1

b
a
n
a
n
a

In [67]:
for char in fruit:
    print(char)

b
a
n
a
n
a

# List

mutable

In [194]:
'A' is 'A'

True

In [195]:
['A'] is ['A']

False

In [196]:
a = ['A']
b = a
a is b

True

In [261]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [262]:
[1]*5

[1, 1, 1, 1, 1]

In [264]:
lst = []
lst

[]

In [238]:
lst = [ 1, 2, 3 ]
lst[0]

1

In [239]:
y = lst[:]
y

[1, 2, 3]

In [240]:
1 in lst

True

In [241]:
for num in lst:
    print(num)

1
2
3

In [242]:
for i in range(len(lst)):
    print(lst[i])

1
2
3

In [243]:
lst.index(1)

0

In [244]:
lst.count(1)

1

In [245]:
lst.sort()
lst

[1, 2, 3]

In [246]:
lst.sort(reverse=True)
lst

[3, 2, 1]

In [247]:
lst.reverse()
lst

[1, 2, 3]

In [248]:
sorted(lst)

[1, 2, 3]

In [249]:
sorted(lst).reverse()
lst

[1, 2, 3]

In [250]:
list(reversed(lst))

[3, 2, 1]

In [251]:
lst.extend([4,5,6])
lst

[1, 2, 3, 4, 5, 6]

In [252]:
lst.append(7)
lst

[1, 2, 3, 4, 5, 6, 7]

In [253]:
lst.insert(7,'seven')
lst

[1, 2, 3, 4, 5, 6, 7, 'seven']

In [254]:
lst.pop()

'seven'

In [255]:
lst.pop(0)

1

In [256]:
del lst[0]
lst

[3, 4, 5, 6, 7]

In [257]:
del lst[1:2]
lst

[3, 5, 6, 7]

In [258]:
lst.remove(3)
lst

[5, 6, 7]

In [12]:
lst = ['a','z','A','Z']

lst.sort(key=str.lower)

lst

['a', 'A', 'z', 'Z']

In [181]:
database = [
    ['albert',  '1234'],
    ['dilbert', '4242'],
    ['smith',   '7524'],
    ['jones',   '9843']
]

username = input('User name: ')
pin = input('PIN code: ')

if [username, pin] in database: print('Access granted')

User name: albert
PIN code: 1234
Access granted

In [198]:
sentence = input("Sentence: ")

screen_width = 80
text_width   = len(sentence)
box_width    = text_width + 6
left_margin  = (screen_width - box_width) // 2


print(' ' * left_margin + '+'   + '-' * (box_width-2)  +   '+')
print(' ' * left_margin + '|  ' + ' ' * text_width     + '  |')
print(' ' * left_margin + '|  ' +       sentence       + '  |')
print(' ' * left_margin + '|  ' + ' ' * text_width     + '  |')
print(' ' * left_margin + '+'   + '-' * (box_width-2)  +   '+')

Sentence: hello
                                  +---------+
                                  |         |
                                  |  hello  |
                                  |         |
                                  +---------+

In [191]:
url = input('Please enter the URL: ')
domain = url[4:-4]

print("Domain name: " + domain)

Please enter the URL: www.google.com
Domain name: google

In [29]:
refer1 = [1,2,3]

refer2 = refer1

refer2[0] = 'hello'

refer1

['hello', 2, 3]

In [30]:
import copy

refer1 = [1,2,3]

refer2 = copy.copy(refer1)

refer2[0] = 'hello'

refer1

[1, 2, 3]

In [31]:
def fun(someParameter):
    someParameter.append('Hello')
    
parameter = [1, 2, 3]

fun(parameter)

print(parameter)

[1, 2, 3, 'Hello']

# Tuple

immutable <br>
tuple can be key in the map <br>
multiple parameters<br>

In [34]:
(0,1,2,1000) < (0,3,4)  #subsequent elements are not considered

True

In [30]:
(1,) * 3

(1, 1, 1)

In [42]:
tuple([1,1,1])

(1, 1, 1)

In [25]:
t=tuple()
t

()

In [27]:
t=tuple('A')
t

('A',)

In [32]:
t= 'A', 'B', 'C'
t

('A', 'B', 'C')

In [34]:
t= ('A', 'B', 'C')
t

('A', 'B', 'C')

In [35]:
t[1]

'B'

In [36]:
t[0:2]

('A', 'B')

In [39]:
a,b = 1,2

In [40]:
uname, domain = 'admin@python.org'.split('@')

In [41]:
quotient, remainainder = divmod(7,3)

In [4]:
divmod(7,3)

(2, 1)

In [44]:
t=(7,3)
divmod(*t)

(2, 1)

In [7]:
def min_max(t):
    return min(t), max(t)

min_max((1,2,3))

(1, 3)

In [1]:
def printall(*args):
    print(args)
    
printall(1)
printall(1,2,3)

(1,)
(1, 2, 3)

In [9]:
def foo(param1, *param2):
    print(param1)
    print(param2)

def bar(param1, **param2):
    print(param1)
    print(param2)

foo(1,2,3,4,5)
bar(1,a=2,b=3)

1
(2, 3, 4, 5)
1
{'b': 3, 'a': 2}

# Dict

In [2]:
d = {}

In [32]:
d['name'] = 'A'

In [29]:
d['age'] = 1

In [5]:
d['name']

'A'

In [6]:
'name' in d

True

In [7]:
'A' in d.values()

True

In [8]:
for key, value in d.items():
    print(key, value)

name A
age 1

In [9]:
d.get('name')

'A'

In [10]:
d.get('name', 'N/A')  #get and set if not exist

'A'

In [11]:
d.setdefault('name','N/A')  #get and set if not exist

'A'

In [12]:
d.keys()

dict_keys(['name', 'age'])

In [13]:
d.values()

dict_values(['A', 1])

In [14]:
d.items()

dict_items([('name', 'A'), ('age', 1)])

In [15]:
d.copy()

{'age': 1, 'name': 'A'}

In [16]:
import copy
shallow = copy.copy(d)
deep = copy.deepcopy(d)

In [17]:
d.update({'age': 2})
d

{'age': 2, 'name': 'A'}

In [18]:
list(d.items())

[('name', 'A'), ('age', 2)]

In [19]:
len(d)

2

In [20]:
items=[('name','A'),('age','1')]

dict(items)

{'age': '1', 'name': 'A'}

In [21]:
dict(name='A',age=1)

{'age': 1, 'name': 'A'}

In [22]:
{}.fromkeys(['name','age'])

{'age': None, 'name': None}

In [23]:
dict.fromkeys(['name','age'],'unknown')

{'age': 'unknown', 'name': 'unknown'}

In [33]:
d.pop('name')

'A'

In [25]:
d.popitem()

('age', 2)

In [34]:
k,v = d.popitem()

In [ ]:
del d['name']

In [43]:
d.clear()
d

{}

In [46]:
d = {'x': 1, 'y': 2, 'z': 3}

for k in d:
    print(k, d[k])

x 1
z 3
y 2

In [26]:
people = {

    'Alice': {
        'phone': '2341',
        'addr': 'Foo drive 23'
    },

    'Beth': {
        'phone': '9102',
        'addr': 'Bar street 42'
    },

    'Cecil': {
        'phone': '3158',
        'addr': 'Baz avenue 90'
    }

}


labels = {
    'phone': 'phone number',
    'addr': 'address'
}

name = input('Name: ')

request = input('Phone number (p) or address (a)? ')


if request == 'p': key = 'phone'
    
if request == 'a': key = 'addr'

if name in people: print("%s's %s is %s." % (name, labels[key], people[name][key]))
    
    
    
person = people.get(name, {})
label = labels.get(key, "")
result = person.get(key, 'not available')

print( "%s's %s is %s." % (name, label, result))

Name: Alice
Phone number (p) or address (a)? p
Alice's phone number is 2341.
Alice's phone number is 2341.

In [8]:
phonebook={'Beth':'9012','Alice':'2341','Cecil':'3258'}

"Cecil's phone number is %(Cecil)s" % phonebook

"Cecil's phone number is 3258"

In [33]:
template = '''<html>
    <head><title>%(title)s</title></head>
    <body>
    <h1>%(title)s</h1>
    <p>%(text)s</p>
    </body>
</html>'''

data = {'title': 'My Home Page', 'text': 'Welcome to my home page!'}

print(template % data)

<html>
    <head><title>My Home Page</title></head>
    <body>
    <h1>My Home Page</h1>
    <p>Welcome to my home page!</p>
    </body>
</html>

In [15]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d


histogram('akjdfljdlks')

{'a': 1, 'd': 2, 'f': 1, 'j': 2, 'k': 2, 'l': 2, 's': 1}

In [19]:
def has_match(t1,t2):
    for x,y in zip(t1,t2):
        if x == y:
            return True
        return False
    

has_match('abc',['a','b','c'])

True

In [25]:
def sort_by_length(words):
    count={}
    for word in words:
        if word in count:
            count[word] +=1
        else:
            count[word]=1
                 
    print(count)
    
    
sort_by_length(['abc', 'a', 'bc', 'a','a'])

{'a': 3, 'bc': 1, 'abc': 1}

In [33]:
def sort_by_length(words):
    
    count={}
    for word in words:
        count[word] = count.get(word,0) +1
    print(count)
        
        
    freq = {}
    for (name, times) in count.items():
        if times in freq:
            freq[times].append(name)
        else:
            freq[times] = [name]
    print(freq)
    
    
    for key in sorted(freq):
        print(key)
        for name in freq[key]:
            print( ' ', name)


sort_by_length(['abc', 'a', 'bc', 'a','a'])

{'a': 3, 'bc': 1, 'abc': 1}
{1: ['bc', 'abc'], 3: ['a']}
1
  bc
  abc
3
  a

In [10]:
import pprint

message = 'A bright cold day in April.'
count = {}

for character in message:
    count.setdefault(character, 0)
    count[character] = count[character] + 1

#pprint.pprint(count)

#print(pprint.pformat(count))

pprint.pformat(count)  #get the string of it

"{' ': 5,\n '.': 1,\n 'A': 2,\n 'a': 1,\n 'b': 1,\n 'c': 1,\n 'd': 2,\n 'g': 1,\n 'h': 1,\n 'i': 3,\n 'l': 2,\n 'n': 1,\n 'o': 1,\n 'p': 1,\n 'r': 2,\n 't': 1,\n 'y': 1}"

In [11]:
count

{'A': 2,
 ' ': 5,
 'b': 1,
 'r': 2,
 'i': 3,
 'g': 1,
 'h': 1,
 't': 1,
 'c': 1,
 'o': 1,
 'l': 2,
 'd': 2,
 'a': 1,
 'y': 1,
 'n': 1,
 'p': 1,
 '.': 1}

In [43]:
allGuests = {'Alice': {'apples': 5, 'pretzels': 12},
                'Bob': {'ham sandwiches': 3, 'apples': 2},
                'Carol': {'cups': 3, 'apple pies': 1}}

def totalBrought(guests, item):
    numBrought = 0

    for k, v in guests.items():
        numBrought = numBrought + v.get(item, 0)
    
    return numBrought


print(' - Apples   ' + str(totalBrought(allGuests,'apples')))

 - Apples   7

In [44]:
stuff = {'rope': 1, 'torch': 6, 'gold coin': 42, 'dagger': 1, 'arrow': 12}

def display_inventory(inventory):
    print("Inventory:")
    item_total = 0
    for k, v in inventory.items():
        print(str(v) + ' ' + k)
        item_total += v
    print("Total number of items: " + str(item_total))

display_inventory(stuff)

Inventory:
12 arrow
42 gold coin
6 torch
1 rope
1 dagger
Total number of items: 62

# Set

In [2]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
lows = set([0, 1, 2, 3, 4])
odds = set([1, 3, 5, 7, 9])

In [4]:
lows.add(9)

In [5]:
lows.difference(odds)

{0, 2, 4}

In [6]:
lows.symmetric_difference(odds)

{0, 2, 4, 5, 7}

In [7]:
lows.intersection(odds)

{1, 3, 9}

In [8]:
lows.union(odds)

{0, 1, 2, 3, 4, 5, 7, 9}

In [9]:
lows.issubset(odds)

False

In [18]:
lows.remove(0)

In [27]:
lows.clear()

# read

In [1]:
f = open("test_in.txt")

f.read()

'#test file\n\ncanada goose\nlong-tailed jaeger\nsnow goose\nnorthern fulmar\n'

In [2]:
f = open("test_in.txt")

print(f.read())

#test file

canada goose
long-tailed jaeger
snow goose
northern fulmar

In [3]:
f = open("test_in.txt")

f.read(1)

'#'

In [4]:
f = open("test_in.txt")

f.readlines()

['#test file\n',
 '\n',
 'canada goose\n',
 'long-tailed jaeger\n',
 'snow goose\n',
 'northern fulmar\n']

In [5]:
f = open("test_in.txt")
print(f.readlines())

['#test file\n', '\n', 'canada goose\n', 'long-tailed jaeger\n', 'snow goose\n', 'northern fulmar\n']

In [6]:
input_file = open("test_in.txt", "r")

for line in input_file:
    line = line.strip()
    print( line )
    
input_file.close()

#test file

canada goose
long-tailed jaeger
snow goose
northern fulmar

In [7]:
r = open("test_in.txt")

line=r.readline()
line=r.readline()
line=r.readline()

while line.startswith('#'):
    line=r.readline()
    
print(line)

canada goose

# write

In [8]:
output_file = open("test_out.txt", "w")
output_file.write("Computer Science\n")
output_file.close()

In [9]:
output_file = open("test_out.txt", "a")
output_file.write("Software Engineering\n")
output_file.close()

# raise

In [1]:
raise Exception('This is the error message.')

Exception: This is the error message.

In [2]:
def boxPrint(symbol, width, height):
    
    if len(symbol) != 1:
        raise Exception('Symbol must be a single character string.')
        
    if width <= 2:
        raise Exception('Width must be greater than 2.')
        
    if height <= 2:
        raise Exception('Height must be greater than 2.')

    print(symbol * width)
    
    for i in range(height - 2):
        print(symbol + (' ' * (width - 2)) + symbol)
        
    print(symbol * width)

    
    
for sym, w, h in (('*', 4, 4), ('O', 20, 5), ('x', 1, 3), ('ZZ', 3, 3)):
    try:
        boxPrint(sym, w, h)
        
    except Exception as err:
        print('An exception happened: ' + str(err))

****
*  *
*  *
****
OOOOOOOOOOOOOOOOOOOO
O                  O
O                  O
O                  O
OOOOOOOOOOOOOOOOOOOO
An exception happened: Width must be greater than 2.
An exception happened: Symbol must be a single character string.

In [4]:
def spam():
    bacon()
    
def bacon():
    raise Exception('This is the error message.')
    
spam()

Exception: This is the error message.

# assert

In [7]:
test = 'A'

In [8]:
assert test == 'A', 'Error Message'

In [9]:
test = 'B'

In [10]:
assert test == 'A', 'Error Message'

AssertionError: Error Message

In [11]:
test = {'A': 1, 'B': 2 }

In [16]:
assert 'C' in test.keys(), 'Error Message: ' + str(test)

# assert can be disable by -O option

AssertionError: Error Message: {'A': 1, 'B': 2}

# except

In [ ]:
try:
except:
else:
except IndexError, e:
    print('Error: ', e)
except Arithmetic Error, e:
    print('Error: ', e)

In [8]:
try:
    fin = open("test_in.txt")
    for line in fin:
        print( line )
    fin.close()
except:
    print( 'something went wrong')

#test file



canada goose

long-tailed jaeger

snow goose

northern fulmar

In [7]:
 while True:
    try:
        x = int(input('Please enter a number: '))
        break
    except ValueError:
        print('That was no valid number.  Try again...')

Please enter a number: a
That was no valid number.  Try again...
Please enter a number: a
That was no valid number.  Try again...
Please enter a number: 1

In [10]:
try:
    x = int(input('Please enter a number: '))
finally:
    print('Thank you for your input')

Please enter a number: 1
Thank you for your input

In [ ]:
def print_sorted(collection):
    try:
        collection.sort()
    except AttributeError:
        pass
    print(collection)

In [ ]:
def filter_name(name):
    try:
        name = name.encode('ascii')
    except UnicodeError, e:
        if name == 'Gaël':
            print('OK, Gaël')
        else:
            raise e
    return name

In [ ]:
def first():
    pass
def second():
    pass

if __name__=='__main__':
    try:
        first()
        second()
    except Exception, e:
        print( 'error occurred:', e )

# OOP

In [ ]:
颜色的亮度就是其最强和最弱的RGB的值的平均值对应到0和1之间的数值
定义方法时，需要将对象的引用self放在成员变量之前
创建新对象的同时就给各个实例变量赋值
构造器constructor , __init__
打印对象，输出该对象在内存中的位置，方法中包含__str__和__repr__可以输出更多信息

In [ ]:
运算符重载 operator overloading
class Color(object):
    def __init__(self, r, g, b):
        self.red = r
        self.green = g
        self.blue = b
    def __str__(self):
        return 'Color(%s, %s, %s)' % (self.red, self.green, self.blue)
    def __add__(self, other_color):                                      #创建新的对象，而非修改原值
        return Color(min(self.red + other_color.red, 255),       
                     min(self.green + other_color.green, 255),
                     min(self.blue + other_color.blue, 255))
    def __sub__(self, other_color):                                       #创建新的对象，而非修改原值
        return Color(max(self.red - other_color.red, 0),          
                     max(self.green - other_color.green, 0),
                     max(self.blue - other_color.blue, 0))

    def __eq__(self, other_color):
        return self.red == other_color.red and self.green == \
            other_color.green and self.blue == other_color.blue

In [ ]:
获取实例变量以及类方法
dir(obj)   
dir(color)

In [ ]:
获取类的文档字符串
help(class)
help(Color)

In [ ]:
python是通过字典来存储实例变量的
obj.__dict__
color.__dict__

In [ ]:
封装encapsulate
多态polymorphism
继承inheritance

In [ ]:
class Arthropod(Organism):
    def __init__(self, name, x, y, legs):
        Organism.__init__(self, name, x, y)
        self.legs = legs

In [ ]:
类的例子，原子类 atom.py，分子类 molecule.py
from molecule import Molecule
from atom import Atom
def read_molecule(r):
    line = r.readline()
    if not line:
        return None
    key, name = line.split()
    molecule = Molecule(name)
    reading = True
    while reading:
        line = r.readline()
        if line.startswith('END'):
            reading = False
        else:
            key, num, kind, x, y, z = line.split()
            molecule.add(Atom(num, kind, float(x), float(y), float(z)))
    return molecule